*{
	margin:0;
	padding:0;
}
h1{
	color: blue;
	text-align: center;
    margin-top: 10rem;
    font-family: cursive;
    font-weight: 100;
}

div{
	display: flex;
	justify-content: space-around;
    margin-top: 9rem;
	
}