h4{
    margin: 0 auto;
    text-align: center;
    width: 10%;
    border: 0.1rem solid black;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: lighter;
    
}

p{
    margin: 0 auto;
    text-align: center;
    width: 30%;
    border: 0.1rem solid black;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 3rem;
    font-family: sans-serif;
}