*{
    margin: 0;
    padding: 0;
}

header{
	margin: 0 auto;
	width: 70%;
	margin-top: 2rem;
	font-family: cursive;
	color:black;
	display: flex;
	justify-content: space-between;
}
.logout{
	text-algin:end;
}

main{
    width: 70%;
    margin: 0 auto;
    
    
}